mixin accordion-mixed(tabs)
    .accordion-mixed
        .accordion-mixed__line 
            .accordion-mixed__line-item 
        .accordion-mixed__tab.accordion-mixed__tab_active(data-mixed-tab="0") 
            span.accordion-mixed__tab-label Tab 1 
            img.accordion-mixed__tab-icon(src=require('./img/chevron-down.svg').default, alt="arrow")
        .accordion-mixed__content.accordion-mixed__content_active(data-mixed-tab="0") Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum, quos. 
        .accordion-mixed__tab(data-mixed-tab="1")
            span.accordion-mixed__tab-label Tab 2 
            img.accordion-mixed__tab-icon(src=require('./img/chevron-down.svg').default, alt="arrow")
        .accordion-mixed__content(data-mixed-tab="1") Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor deleniti labore, officiis deserunt ad minus architecto provident minima voluptatibus animi!
        .accordion-mixed__tab(data-mixed-tab="2")
            span.accordion-mixed__tab-label Tab 3
            img.accordion-mixed__tab-icon(src=require('./img/chevron-down.svg').default, alt="arrow")
        .accordion-mixed__content(data-mixed-tab="2") Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic obcaecati voluptates possimus iure maxime nulla a odit laborum magni vel dolores dolore odio consectetur praesentium pariatur, dolorem doloremque expedita! Explicabo.
        
            
            

