include ./../common/mixins
doctype html
html
    head
        +meta()
    body
        .app
            +header()
            main.main 
                +banner({title:'Контакты'})
                .container
                    +contact-form()
            +footer()