include ./../common/mixins
- var businessTypes = [{label:"Оптовая торговля",value:"opt"}, {label:"Розничная торговля",value:"roznica"},{label:"Производство",value:"proizvodstvo"},{label:"Прочее",value:"prochее"}];

doctype html
html
    head
        +meta()
    body
        .app
            +header()
            main.main 
                +banner({title:'Контакты'})
                .container
                    +contact-form(businessTypes)
            +footer()