mixin catalog
    .catalog
        .catalog__main
            .catalog__search 
                h1.catalog__title Антибактериальные препараты
                .catalog__search-block 
                    <svg class="catalog__search-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21 21L15 15L21 21ZM17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="#9b9b9b" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    input.catalog__search-input(placeholder="Поиск препарата")
            .catalog__products 
                .catalog__product 
                    +product({title:"Кальцемаг", description:"Суспензия для инъекций"})
                .catalog__product 
                    +product({title:"Доксивет", description:"Водорастворимый порошок для орального применения"})
                .catalog__product
                    +product({title:"Ферголин", description:"Суспензия для инъекций"})
                .catalog__product 
                    +product({title:"Азитронит", description:"Раствор для инъекций"}) 
                .catalog__product 
                    +product({title:"Бенстреп", description:"Порошок для орального применения"})
                .catalog__product 
                    +product({title:"Гентам БТ", description:"Раствор для инъекций"})
        aside.catalog__aside 
                .catalog__aside-block
                    h4.catalog__aside-title Фармацевтическая группа
                    ul.catalog__aside-list
                        li.catalog__aside-list-item 
                            a.catalog__aside-list-item-link(href="#")
                                img.catalog__aside-list-item-icon.catalog__aside-list-item-icon_small(src=require("@img/plus.svg") alt="")    
                                span.catalog__aside-list-item-link-title Антибактериальные препараты
                        li.catalog__aside-list-item
                            a.catalog__aside-list-item-link(href="#") 
                                img.catalog__aside-list-item-icon.catalog__aside-list-item-icon_small(src=require("@img/plus-red.svg") alt="")    
                                span.catalog__aside-list-item-link-title Витаминно-минеральные препараты
                .catalog__aside-block
                    h4.catalog__aside-title Вид животного
                    ul.catalog__aside-list
                        li.catalog__aside-list-item
                            a.catalog__aside-list-item-link.catalog__aside-list-item-link_animal(href="#") 
                                img.catalog__aside-list-item-icon(src=require("@img/animals/птица.svg") alt="")    
                                span.catalog__aside-list-item-link-title Куры
                        li.catalog__aside-list-item
                            a.catalog__aside-list-item-link.catalog__aside-list-item-link_animal(href="#")
                                img.catalog__aside-list-item-icon(src=require("@img/animals/корова.svg") alt="")    
                                span.catalog__aside-list-item-link-title Коровы
                