@import './../../common/constants';

.catalog {
    padding: 3rem 0;

    @include md {
        padding: 0;
        display: flex;
    }

    &__aside {
        @include md {
            max-width: 320px;
            flex: 1 0 320px;
            padding-right: 1.5rem;
            padding-top: 3rem;
            order: -1;
            border-right: 1px solid $GRAY_2;
        }
    }

    &__main {
        margin-bottom: 1rem;

        @include md {
            max-width: calc(100% - 320px);
            flex: 1 0 calc(100% - 320px);
            padding-left: 3rem;
            padding-top: 3rem;
            margin-bottom: initial;
        }
    }

    &__aside-title {
        margin-bottom: 1rem;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
    }

    &__aside-block {
        margin-bottom: 3rem;
    }

    &__aside-list-item-link {
        color: $GRAY_3;
        font-size: 12px;
        text-transform: uppercase;
        padding: 0.5rem 0;
        transition: color 0.3s;
        font-weight: 500;
        display: flex;
        align-items: center;

        &:hover {
            color: $GRAY_1;
        }

        &_animal {
            padding: 0.375rem 0;
        }
    }

    &__aside-list-item-icon {
        width: 28px;
        height: 28px;
        margin-right: 1rem;
        flex-shrink: 0;

        &_small {
            width: 24px;
            height: 24px;
        }
    }

    &__title {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 2rem;

        @include md {
            margin-bottom: 0;
        }
    }

    &__search {
        @include md {
            display: flex;
            justify-content: space-between;
        }
    }

    &__search-block {
        border-bottom: 1px solid $GRAY_2;
        display: flex;
        align-items: center;
        @include md {
            max-width: 180px;
        }
    }

    &__search-input {
        outline: none;
        padding: 0.25rem 0 0.25rem 0.5rem;
        width: 100%;
        flex-grow: 1;
    }

    &__search-icon {
        padding: 2px;
        flex-shrink: 0;
    }

    &__products {
        max-width: initial;
        margin-top: 3rem;
        margin-left: -1rem;
        margin-right: -1rem;
        display: flex;
        flex-wrap: wrap;
    }

    &__product {
        padding: 0 1rem;
        margin-bottom: 3.25rem;
        max-width: 100%;
        flex: 1 0 100%;

        @include sm {
            max-width: 50%;
            flex: 1 0 50%;
        }

        @include md {
            max-width: 33.3333%;
            flex: 1 0 33.3333%;
        }

        &_hide {
            display: none;
        }
    }
}
