//- Mixins here
include ./../components/meta/meta
include ./../components/header/header
include ./../components/breadcrumbs/breadcrumbs
include ./../components/footer/footer
include ./../components/menu/menu
include ./../components/p404/p404
include ./../components/catalog/catalog
include ./../components/product/product
include ./../components/banner/banner
include ./../components/product-main/product-main
include ./../components/accordion-mixed/accordion-mixed
include ./../components/contact-form/contact-form
include ./../components/find-out-more/find-out-more
include ./../components/advantages/advantages
include ./../components/swiper-banner/swiper-banner
include ./../components/button/button
