//- Mixins here
include ./../components/meta/meta
include ./../components/header/header
include ./../components/breadcrumbs/breadcrumbs
include ./../components/footer/footer
include ./../components/menu/menu
include ./../components/p404/p404
include ./../components/catalog/catalog
include ./../components/product/product
include ./../components/banner/banner
include ./../components/product-main/product-main
include ./../components/accordion-mixed/accordion-mixed
include ./../components/contact-form/contact-form

//- include ./../mobile/headerWidgets/headerWidgets
//- include ./../mobile/weather/weather
//- include ./../desktop/header/header
//- include ./../desktop/slider/slider
//- include ./../desktop/headerWidgets/headerWidgets
//- include ./../desktop/button/button
//- include ./../desktop/video/video
//- include ./../desktop/contacts/contacts
//- include ./../desktop/today/today
//- include ./../desktop/weather/weather
//- include ./../desktop/currencies/currencies
