mixin find-out-more
    ul.find-out-more
        li.find-out-more__item 
            img.find-out-more__item-icon(src=require("@img/check.svg"), alt="")
            h4.find-out-more__item-title Заголовок 1
            p.find-out-more__item-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, officiis?
            a.find-out-more__item-link(href="#") подробнее
        li.find-out-more__item 
            img.find-out-more__item-icon(src=require("@img/check.svg"), alt="")
            h4.find-out-more__item-title Заголовок 2
            p.find-out-more__item-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, officiis?
            a.find-out-more__item-link(href="#") подробнее
        li.find-out-more__item 
            img.find-out-more__item-icon(src=require("@img/check.svg"), alt="")
            h4.find-out-more__item-title Заголовок 3
            p.find-out-more__item-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, officiis?
            a.find-out-more__item-link(href="#") подробнее
        li.find-out-more__item 
            img.find-out-more__item-icon(src=require("@img/check.svg"), alt="")
            h4.find-out-more__item-title Заголовок 4
            p.find-out-more__item-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, officiis?
            a.find-out-more__item-link(href="#") подробнее


        