mixin footer
    footer.footer 
        .container 
            .footer__logo-wrapper
                a.footer__logo-link(href='/')
                    img.footer__logo-icon(src=require('./img/main-logo-white.svg').default, alt="VetQ Logo")
                .footer__logo-text Ветеринарные препараты
            p.footer__description По любым дополнительным вопросам, пожалуйста, не стесняйтесь отправлять нам электронное письмо по адресу info@krasnagorka.by
            p.footer__copyed © Все права защищены 2023