mixin advantages
    .advantages
        .advantages__col 
            img.advantages__image(src=require("@img/tt.jpg"), alt="promo")
        .advantages__col
            .advantages__content
                .advantages__sub-title приемущества
                .advantages__title Только проверенные товары
                p.advantages__description Lorem ipsum dolor sit amet, consectetur.
                ul.advantages__list
                    li.advantages__list-item Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    li.advantages__list-item Sed do eiusmod tempor incididunt ut labore et dolore
                    li.advantages__list-item Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    li.advantages__list-item Sed do eiusmod tempor incididunt ut labore et dolore
                +button("/catalog.html", 'Каталог')




        