@import './../../common/constants';

.product-main {
    padding: 32px 0;

    @include md {
        padding: 80px 0;
        display: flex;
        align-items: flex-start;
    }
    &__image {
        width: 100%;
        object-fit: contain;

        @include md {
            flex-shrink: 0;
            max-width: calc(35% - 1rem);
            flex: 1 0 calc(35% - 1rem);
        }
    }

    &__content {
        margin-top: 2rem;

        @include md {
            margin-top: 0;
            max-width: calc(65% + 1rem);
            flex: 1 0 calc(65% + 1rem);
            padding-left: 4rem;
            display: flex;
            flex-direction: column;
            align-self: stretch;
        }
    }

    &__title {
        font-size: 28px;
        font-weight: 700;
        color: $GRAY_1;

        @include md {
            margin-top: 1rem;
        }
    }

    &__description {
        color: $GRAY_5;
        margin-top: 1.5rem;
        line-height: 1.5;
    }

    &__line {
        display: flex;
        align-items: center;
        margin-top: 2rem;

        &_link:hover .product-main__line-title{
            color: $GRAY_1;
        }
    }

    &__line-icon {
        max-width: 28px;
        flex: 1 0 28px;
        margin-right: 1rem;
    }

    &__line-label {
        margin-right: 1rem;
        color: $GRAY_3;
        text-transform: uppercase;
    }

    &__line-title {
        text-transform: uppercase;
        color: $GRAY_3;
        transition: all 0.3s;
        font-size: 14px;
    }

    &__animals {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(-12px);
        margin-top: -16px;
    }

    &__animal-icon {
        width: 60px;
        padding: 8px 4px;

        @include lg {
            width: 60px;
            padding: 8px 4px;
        }
    }

    &__instractions {
        margin-top: -16px;
    }

    &__instraction-link {
        padding-bottom: 1rem;
        display: flex;
        align-items: center;

        &:hover .product-main__instraction-label {
            color: $GRAY_1;
        }
    }

    &__instraction-img {
        max-width: 24px;
        flex-shrink: 0;
        margin-right: 1rem;
    }

    &__instraction-label {
        font-size: 14px;
        text-transform: uppercase;
        color: $GRAY_3;
        transition: all 0.3s;
    }
}
