@import './../../common/constants';

.product-main {
    padding: 32px 0;

    @include md {
        padding: 80px 0;
        display: flex;
        align-items: flex-start;
    }
    &__image {
        width: 100%;
        object-fit: contain;

        @include md {
            flex-shrink: 0;
            max-width: calc(35% - 1rem);
            flex: 1 0 calc(35% - 1rem);
        }
    }

    &__content {
        margin-top: 2rem;

        @include md {
            margin-top: 0;
            max-width: calc(65% + 1rem);
            flex: 1 0 calc(65% + 1rem);
            padding-left: 4rem;
            display: flex;
            flex-direction: column;
            align-self: stretch;
        }
    }

    &__title {
        font-size: 28px;
        font-weight: 700;
        color: $GRAY_1;

        @include md {
            margin-top: 1rem;
        }
    }

    &__description {
        color: $GRAY_5;
        margin-top: 1.5rem;
        line-height: 1.5;

        @include editor;
    }

    &__info {
        margin-top: 2rem;
    }

    &__line {
        display: flex;
        align-items: center;
        margin-top: 1rem;

        &:first-child {
            margin-top: 0;
        }

        &_column {
            flex-direction: column;
            align-items: initial;
        }
    }

    &__line-icon {
        max-width: 28px;
        flex: 1 0 28px;
        margin-right: 1rem;
    }

    &__line-label {
        color: $GRAY_1;
        font-weight: 600;
        font-size: 16px;
        margin-right: 0.5rem;
    }

    &__line-link {
        color: $GRAY_3;
        transition: all 0.3s;
        font-weight: 500;
        &:hover {
            color: $GRAY_1;
        }
    }

    &__animals {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__animal {
        &::after {
            content: ',';
            color: $GRAY_3;
            margin-right: 0.25rem;
        }

        &:last-child {
            &::after {
                content: '';
            }
        }
    }

    &__instractions {
        margin-top: 1rem;
    }

    &__instraction {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
    }

    &__instraction-img {
        max-width: 24px;
        flex-shrink: 0;
        margin-right: .5rem;
    }
}
