mixin product-main(product)
    .product-main
        img.product-main__image(src="https://placehold.co/320x280" alt=product.title)
        .product-main__content
            h4.product-main__title=product.title
            p.product-main__description=product.description
            .product-main__info
                .product-main__line
                    span.product-main__line-label Тип препарата:
                    ul.product-main__animals
                        li.product-main__animal 
                            a.product-main__line-link(href="/catalog.html") Антибактериальные
                        li.product-main__animal 
                            a.product-main__line-link(href="/catalog.html") Акушерско-гинекологические
                        li.product-main__animal 
                            a.product-main__line-link(href="/catalog.html") Противовоспалительные, обезболивающие
                .product-main__line
                    span.product-main__line-label Тип животного:
                    ul.product-main__animals
                        li.product-main__animal 
                            a.product-main__line-link(href="/catalog.html") Птица
                        li.product-main__animal 
                            a.product-main__line-link(href="/catalog.html") КГС
                        li.product-main__animal 
                            a.product-main__line-link(href="/catalog.html") Lorem ipsum
                        li.product-main__animal 
                            a.product-main__line-link(href="/catalog.html") Lorem ipsum dolor
                .product-main__line.product-main__line_column
                    ul.product-main__instractions 
                        li.product-main__instraction
                            a.product-main__line-link(href="#") Инструкция 1
                        li.product-main__instraction
                            a.product-main__line-link(href="#") Инструкция 2
            
            

