@import './../../common/constants';

.header {
    position: relative;
    border-bottom: 1px solid $GRAY_2;

    @include lg {
        border-bottom: initial;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 72px;

        @include sm {
            height: 100px;
        }
    }

    &__logo-icon {
        height: 48px;
        object-fit: contain;

        @include sm {
            height: 60px;
        }
    }

    &__logo-link {
        text-decoration: none;
        display: flex;
    }

    &__logo-text {
        display: none;
        @include sm {
            display: block;
            font-size: 14px;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-left: 1rem;
            margin-bottom: 13px;
        }
    }

    &__logo-wrapper {
        @include sm {
            display: flex;
            align-items: flex-end;
        }
    }

    &__menu {
        align-self: stretch;
    }

    &__telegram {
        display: flex;
        align-items: center;
        gap: 8px;
        color: #161616;

        @include sm {
            margin-left: 40px;
        }

        span {
            display: none;

            @include sm {
                color: #161616;
                font-weight: 600;
                display: flex;
            }
        }
    }
}
