mixin header
    header.header
        .container
            .header__container
                .header__logo-wrapper
                    a.header__logo-link(href='/')
                        img.header__logo-icon(src=require('./img/main-logo.svg').default, alt="VetQ Logo")
                    .header__logo-text Ветеринарные препараты
                nav.header__menu
                    +menu()


