@import './../../common/constants';

.product {
    &__image {
        width: 100%;
        object-fit: contain;
    }

    &__image-wrapper {
        position: relative;
        display: flex;
    }

    &__image-glass {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        z-index: 1;
        background-color: rgba($GRAY_3, 0.25);
        transition: all 0.3s;
        display: flex;
        align-items: center;
    }

    &__image-glass-content {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: rgba($WHITE, 0.5);
        padding: 1rem;
    }

    &:hover &__image-glass {
        height: 100%;
    }

    &__content {
        text-align: center;
        padding: 1rem 1rem 0;
    }

    &__title {
        font-weight: 600;
        font-size: 20px;

        @include lg {
            font-size: 18px;
        }
    }

    &__description {
        color: $GRAY_3;
        font-size: 16px;
        margin-top: 0.5rem;

        @include lg {
            font-size: 12px;
        }
    }

    &__animals {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__animal-icon {
        height: 28px;
        width: 28px;
        margin: 1rem 0.5rem 0;
    }
}
