mixin swiper-banner
    .swiper-banner
        .swiper
            .swiper-wrapper
                .swiper-slide
                    <img src="http://dk-vet.com/images/slide-5.jpg" />
                    .swiper-slide__container  
                        h2.swiper-slide__title Lorem ipsum dolor sit amet. 
                        p.swiper-slide__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, error?
                        +button("#", 'Подробнее') 
                .swiper-slide
                    <img src="http://salammessage.org/assets/img/sliders/layer/bg3.jpg" />
                    .swiper-slide__container 
                        h2.swiper-slide__title Lorem ipsum dolor sit amet dolor sit amet. 
                        p.swiper-slide__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, error?
                        +button("#", 'Подробнее') 
                .swiper-slide
                    <img src="https://cdn.wallpapersafari.com/93/50/wE72ke.jpeg" />
                    .swiper-slide__container 
                        h2.swiper-slide__title Lorem ipsum dolor sit amet ipsum. 
                        p.swiper-slide__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, error?
                        +button("#", 'Подробнее') 
                .swiper-slide
                    <img src="https://addfield.com/wp-content/uploads/2020/01/pigs-1600x600.jpg" />
                    .swiper-slide__container  
                        h2.swiper-slide__title Lorem ipsum dolor sit amet. 
                        p.swiper-slide__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, error?
                        +button("#", 'Подробнее') 
        .swiper-button-next
        .swiper-button-prev
        .swiper-pagination
